.bottom-nav {
        position: fixed;
        bottom: 0;
        left: 0;
        background: #ffffff;
        border-top: 1px solid #ddd;
        display: flex;
        justify-content: space-around;
        padding: 6px 0;
        z-index: 1000;
    }

   
    .bottom-nav .nav-item {
        flex: 1;
        text-align: center;
        color: #888;
        text-decoration: none;
        font-size: 12px;
    }

    .bottom-nav .nav-item i {
        font-size: 20px;
        display: block;
    }

    .bottom-nav .nav-item.active {
        color: #ffc107;
        font-weight: 600;
    }

    .bottom-nav .nav-item.active i {
        color: #ffc107;
    }

    /* Espacio para que no tape el contenido */
  

@media (max-width: 650px) {
    .event-card {
        flex-direction: column;
        align-items: flex-start;
    }
 
    .card-details {
        margin-bottom: 15px;
        margin-right: 0;
    }

    .card-action {
        width: 100%;
        justify-content: space-between;
    }

    .event-date-box {
        border-right: none;
        padding-right: 0;
    }
}