<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Navegación App</title>
    <link rel="stylesheet" href="../static/css/barra.css">
</head>
<body>

    <div class="navigation">
        <ul>
            <li class="list-item">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="ribbon-outline"></ion-icon>
                    </span>
                    <span class="text">Sellos</span>
                </a>
            </li>

            <li class="list-item">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="trophy-outline"></ion-icon>
                    </span>
                    <span class="text">Logros</span>
                </a>
            </li>

            <li class="list-item active">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="location"></ion-icon>
                    </span>
                    <span class="text">Progreso</span>
                </a>
            </li>

            <li class="list-item">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="text">Eventos</span>
                </a>
            </li>

            <li class="list-item">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="person-outline"></ion-icon>
                    </span>
                    <span class="text">Cumple</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <script src="../static/js/barra.js"></script>
</body>
</html>