<link rel="stylesheet" href="{{ url_for('static', filename='css/barra.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="navigation">
    <ul>
        <li class="list-item {% if active=='sellos' %}active{% endif %}">
            <a href="{{ url_for('dashboard.sellos') }}">
                <span class="icon">
                    <ion-icon name="ribbon-outline"></ion-icon>
                </span>
                <span class="text">Sellos</span>
            </a>
        </li>

        <li class="list-item {% if active=='logros' %}active{% endif %}">
            <a href="{{ url_for('dashboard.logros') }}">
                <span class="icon">
                    <ion-icon name="trophy-outline"></ion-icon>
                </span>
                <span class="text">Logros</span>
            </a>
        </li>

        <li class="list-item {% if active=='progreso' %}active{% endif %}">
            <a href="{{ url_for('dashboard.progreso') }}">
                <span class="icon">
                    <ion-icon name="location"></ion-icon>
                </span>
                <span class="text">Progreso</span>
            </a>
        </li>

        <li class="list-item {% if active=='eventos' %}active{% endif %}">
            <a href="{{ url_for('dashboard.eventos') }}">
                <span class="icon">
                    <ion-icon name="calendar-outline"></ion-icon>
                </span>
                <span class="text">Eventos</span>
            </a>
        </li>

        <li class="list-item {% if active=='cumpleanos' %}active{% endif %}">
            <a href="{{ url_for('dashboard.cumpleanos') }}">
                <span class="icon">
                    <ion-icon name="person-outline"></ion-icon>
                </span>
                <span class="text">Cumple</span>
            </a>
        </li>
    </ul>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{{ url_for('static', filename='js/barra.js') }}"></script>