<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIESEC - Digital Leadership Passport</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="passport-cover">
        <div class="header-text">
            PASSPORT
        </div>
        
        <div class="logo-container">
                        <img src="logo.png" alt="Logotipo Gen Phoenix" class="logo">
        </div>
        
        <div class="subtitle-text">
            MY JOURNEY WITH AIESEC
        </div>
        
        <hr class="separator">
        
        <div class="title-section">
            <h1 class="main-title">Gen Phoenix</h1>
            <p class="edition-text">Digital Leadership Passport</p>
            <p class="year-text">2025</p>
        </div>

        <form id="continueForm" action="{{ url_for('continuar') }}" method="post">
            <button id="continueBtn" type="submit" class="continue-button">CONTINUAR</button>
        </form>

    </div>

    <script src="../static/js/home.js"></script>
</body>
</html>