<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Panel - Sistema MXP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body>

<header><a href="{{ url_for('dashboard.dashboard_user') }}" style="color:inherit; text-decoration:none">Bienvenido, {{ user.nombre }}</a></header>

<div class="container">

    <!-- Datos personales -->
    <div class="card">
        <h3 class="card-title">Datos personales</h3>
        <p><strong>Nombre:</strong> {{ user.nombre }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Área:</strong> {{ user.area }}</p>
    </div>

    <!-- Progreso -->
    <div class="card">
        <h3 class="card-title">Progreso de participación</h3>

        <p><strong>Porcentaje:</strong> {{ porcentaje }}%</p>

        <div class="progress">
            <div id="progressBar" class="progress-bar" style="width: '{{ porcentaje }}%';"></div>

        </div>
    </div>

    <!-- Insignias -->
    <div class="card">
        <h3 class="card-title">Mis insignias</h3>

        <div class="badges-container">
            {% for insignia in insignias %}
            <div class="badge">
                <img src="{{ url_for('static', filename='img/insignias/' + insignia.imagen) }}" alt="Insignia">
            </div>
            {% endfor %}
        </div>
    </div>

</div>

</body>
</html>
