{% extends 'layouts/base_user.html' %}

{% block title %}Mis Eventos{% endblock %} <!-- Titulo que aparece en la pestaña del navegador -->

{% block content %}
<div class="container py-4">
    <div class="events-page-content">
        <header class="page-header">
            <h1>Calendario de Liderazgo</h1>
        </header>

        <div class="filters-bar">
            <button class="filter-btn active">Todos</button>
            <button class="filter-btn">Workshops</button>
            <button class="filter-btn">Conferencias</button>
            <button class="filter-btn">Social</button>
        </div>

        <main class="events-list">
            {% if events|length == 0 %}
                <p class="text-muted">No hay eventos este mes</p>
            {% endif %}
            {% for event in events %}
            <div class="event-card event-type-conference">
                <div class="card-details">
                    <div class="event-type-tag tag-conference">{{ event.category }}</div>
                    <h3 class="event-name">{{ event.name }}</h3>
                    <p class="event-location"><i class="fas fa-map-marker-alt"></i>{{ event.description }}</p>
                </div>
                <div class="card-action">
                    <div class="event-date-box">
                        <span class="day">{{ event.date.strftime('%d') }}</span>
                        <span class="month">{{ event.date.strftime('%b').upper() }}</span>
                    </div>
                    <button class="action-btn registered-btn"><i class="fas fa-check"></i> Registrado</button>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
<script src="../static/js/dashboard_user.js"></script>
{% endblock %}